<!doctype html>
<html>
<head>
  <style>
    td {
      padding-right: 40px;
    }
  </style>
    {% include 'bootstrap.html' %}
    <title>Vare</title>
</head>
<body>
  {% include 'nav.html' %}
  <div class="d-flex justify-content-center">
    <h1>Vareliste</h1><br>
  </div>
  <div class="d-flex justify-content-center">
    <div class="">
      <div class="d-flex lead d-inline-flex p-2 ">
        <table>
          <tr>
            <th>Vare</th>
            <th>Kategori</th>
            <th>Øko</th>
            <th>Pris</th>
          </tr>
          {% for item in data %}
          <tr>
            <td>{{ item[1] }} </td>
            <td>{{ item[7] }} </td>
            <td> {% if item[6] == true %} ja {% else %} nej {% endif %} </td>
            <td>{{ item[3] }}kr.</td>
          </tr>
          {% endfor %}
        </table>

  </div>
</body>
{% include 'footer.html' %}
</html>
